.btn-primary {
    background-color: #e6007e;
    border-radius: 0px;
    border: none;
    width: 50%;
    &:hover{
        background-color: lighten(#e6007e, 10%);
    } 
}
.border-info {
    border-color: #304b60 !important;
}
h3 {
    color: #2a697b;
    font-family: 'Open Sans', sans-serif;
}
p {
    color: #2a697b;
    font-family: 'Open Sans', sans-serif;
}
.text-center {
    color: #f1f3f5;
    font-family: 'Open Sans', sans-serif;
}