h3 {
    color: #2a697b;
    font-family: 'Open Sans', sans-serif;
}
p {
    color: #2a697b;
    font-family: 'Open Sans', sans-serif;
}
.text-center {
    color: #f1f3f5;
    font-family: 'Open Sans', sans-serif;
}
.text-danger {
    color: #e6007e !important;
    font-weight: light;
    font-size: 10px;
}